/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Heroes Style
-------------------------------------------------- */
/*Malcom*/
.in-the-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -75px;
    width: 150px;
    height: 38px;
}
.header-section {
    background-color: #086972;
    text-align: center;
    padding: 15px 0 15px 0;
}
h2 {
    color: white;
    letter-spacing: 6px;
    font-family: 'Staatliches', cursive;
}
.heroes-list {
    margin-top: 50px;
}
img {
    border-radius: 10%;
    margin-bottom: 40px;
}
#heroe-content {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.score-stars {
    color: orange;
    font-size: 20px;
}
.score-history {
    margin-top: 60px;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #086972;
    border-color: #086972;
}
.list-group-item-action:active {
    color: #212529;
    background-color: #086972;
}
.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #086972;
    border-color: #004085;
}

